<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel ="stylesheet" href="/css/style.css">
</head>
<body>

<!--loading animation-->
<div th:replace="~{fragments/loader :: loader}"></div>

<div th:replace="~{fragments/header :: site-header}"></div>




<!--custom script file-->
<script src ="/js/script.js"></script>

</body>
</html>